.ContactTitle {
    background : rgba(246,236,227,255);
    
    width: auto;
    height: 100px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.white {
    background : rgba(246,236,227,255);
    
    height: auto;
    width: 300px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    overflow: hidden;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.input-field {
    background : rgba(246,236,227,255);
    
    height: auto;
    width: auto;
    text-align: center;
    padding: 20px;
    float: left;
    margin: auto;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.btn {
    background : rgba(246,236,227,255);
    
    height: auto;
    width: auto;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 20px;
    float: right;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.blankSpace {
    padding: 20px;
    background-color: #e2d2c5;
}

.contact_body {
    background-color: #e2d2c5;
}

.FTitleOutlines1{
    height: 70px;
    width: 42.5%;
    float: left;
    margin-left:.5%;
}

.FTitleOutlines2{
    height: 50px;
    width: 15%;
    float: left;
    margin-left:.5%;
    margin-top: 14px;
    color: #a69263;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}
  
.FTitleOutlines3{
    height: 70px;
    width: 41%;
    float: left;
    margin-left:.5%;
}

.FLine1{
    height: 2px;
    width: 70%;
    background: #a69263;
    MARGIN-TOP: 35px;
    margin-left: 30%;
}
  
.FLine2{
    height: 2px;
    width: 70%;
    background: #a69263;
    MARGIN-TOP: 35px;
    margin-right: 30%;
}