.FWBody{
  background:#e2d2c5;

}
.FaceWaxTitles{
  background:#e2d2c5;
  width: 100%;
  height: 80px;
  color: #a69263;


  /* Text Styling Here */
  text-align: center;
}

.FaceContainer{
background:#e2d2c5;
width: auto;
height: 1000px;

}

.FaceleftBox{
    background: #e2d2c5;
    width: 400px;
    height:266px;
    margin-left: 20%;
    margin-right: none;
    text-align: left;
    float: left;
    margin-bottom: 50px; 
    margin-top: 20px;  
    border: 5px solid black;
  }



.FacerightBox{
    background: #e2d2c5;
    width: 30%;
    height:900px;
    margin-left: none;
    margin-right: 28%;
    text-align: left;
    float: right;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Bitter', serif;

  }


.WaxContainer{
background:#e2d2c5;
width: auto;
height: 500px;
}

.WaxleftBox{
    background: #e2d2c5;
    width: 40%;
    height:400px;
    margin-left: 10%;
    margin-right: none;
    text-align: left;
    float: left;
    margin-bottom: 50px; 
    margin-top: 20px;  
    border: 5px solid black;
    font-family: 'Bitter', serif;
  }



.WaxrightBox{
    background: #e2d2c5;
    width: 40%;
    height:600px;
    margin-left: none;
    margin-right: 10%;
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 5px solid black;

  }

.bodyColor{
    background: #e2d2c5;
}


.FTitleOutlines1{
  height: 70px;
  width: 42.5%;
  float: left;
  margin-left:.5%;
}
.FTitleOutlines2{
  height: 50px;
  width: 15%;
  float: left;
  margin-left:.5%;
  margin-top: 14px;
  color: #a69263;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.FTitleOutlines3{
  height: 70px;
  width: 41%;
  float: left;
  margin-left:.5%;
}

.FLine1{
  height: 2px;
  width: 70%;
  background: #a69263;
  MARGIN-TOP: 35px;
  margin-left: 30%;
}

.FLine2{
  height: 2px;
  width: 70%;
  background: #a69263;
  MARGIN-TOP: 35px;
  margin-right: 30%;
}






.WTitleOutlines1{
  height: 70px;
  width: 34%;
  float: left;
  margin-left:.5%;
}
.WTitleOutlines2{
  height: 50px;
  width: 30%;
  float: left;
  margin-left:.5%;
  margin-top: 14px;
  color: #a69263;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.WTitleOutlines3{
  height: 70px;
  width: 34%;
  float: left;
  margin-left:.5%;
}

.WLine1{
  height: 2px;
  width: 70%;
  background: #a69263;
  MARGIN-TOP: 35px;
  margin-left: 30%;
}

.WLine2{
  height: 2px;
  width: 70%;
  background: #a69263;
  MARGIN-TOP: 35px;
  margin-right: 30%;
}


.Face1{
  Width: 100%;
  Height: 100%;

}