.bodyColor{
    background: #e2d2c5;
}
.MainTitle{
    background : #e2d2c5;;
    
    width: auto;
    height: 100px;
    text-align: center;
    border-top: 3px solid black;
    border-bottom:3px solid black;
    border-right: none;
    border-left: none;
    padding: 10px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.TitleStyling
{
    background:#e2d2c5;
    width: 100%;
    height: 80px;
    color: #a69263;


    /* Text Styling Here */
    text-align: center;
}

.TitleOutlines1{
    height: 70px;
    width: 44.5%;
    float: left;
    margin-left:.5%;
}
.TitleOutlines2{
    height: 50px;
    width: 10%;
    float: left;
    margin-left:.5%;
    margin-top: 14px;
    color: #a69263;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.TitleOutlines3{
    height: 70px;
    width: 43%;
    float: left;
    margin-left:.5%;
}

.Line1{
    height: 2px;
    width: 70%;
    background: #a69263;
    MARGIN-TOP: 35px;
    margin-left: 30%;
}

.Line2{
    height: 2px;
    width: 70%;
    background: #a69263;
    MARGIN-TOP: 35px;
    margin-right: 30%;
}



.ServiceImages{
    background: #e2d2c5;
    width: auto;
    height: 800px;
}

.PriceTitle{
    text-align: left;
    Color: #9b895b;
    font-family: 'Inconsolata', monospace;
 
    
}

  .rightPrice{
    background: #e2d2c5;
    width: 30%;
    height:300px;
    margin-left: none;
    margin-right: 20%;
    text-align: right;
    float: right;

  }

  .leftPrice{
    background: #e2d2c5;
    width: 30%;
    height:300px;
    margin-left: 20%;
    margin-right: none;
    text-align: left;
    float: left;

  }

  .tableContainer{
      background:#e2d2c5;
      height:1300px;
      width: 100%;
  }

  .FAQ{
      background: #e2d2c5;
      width: auto;
      height: 600px;
  
      /* Text Styling Here */
      text-align: Left;
      margin-left: 25%;
      margin-right: 15%;
      font-family: 'Bitter', serif;
  }

.text2{
    font-weight: bold;
}

.lash1 {
    width: 300px;
    height: 300px;
    margin-left: 12%;
}

.lash2 {
    width: 300px;
    height: 300px;
    margin-left: 12%;
}

.lash3 {
    width: 300px;
    height: 300px;
    margin-left: 12%;
}

.SmallFont{
    font-family: 'Bitter', serif;
}

.SmallFontBold{
    font-family: 'Bitter', serif;
    font-weight: bolder;

}


.LashesBoxes{
    background: #e2d2c5;
    width: 400px;
    height: 310px;
    margin-top: 25px;
    text-align: left;
    margin-left: 9%;

}

.TwoSect1{
    height: 700px;
    width: 500px;
    margin-top: 22px;
    float: left;
    margin-left: 10%;
}

.TwoSect2{
    height: 700px;
    width: 500px;
    margin-top: 22px;
    float: left;
    margin-left: 1%;
}

.TwoSect3{
    height: 700px;
    width: 500px;
    margin-top: 22px;
    float: right;
    margin-right: 9%;
}