.AboutBoxOne {
    background : #f6ece3;
    
    width: auto;
    height: 100px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    padding: 10px;

}

.SectionStyle {
    background : #f6ece3;
    
    width: 550px;
    height: 600px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 25px;
    float: left;
    text-align: center;
    padding: 10px;

}

.TopText {
    background : #f6ece3;
    
    width: auto;
    height: 300px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    font-family: cursive;
    /* text-decoration: underline; */

}

.LeftBox{
    background : #f6ece3;
    
    width: 70vw;
    height: 400px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-right: 3px solid black;
    float: left;

}
.RightBox{
    background : #f6ece3;
    
    width: 29vw;
    height: 400px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    border-left: 3px solid black;
    border-right: 2px solid black;
    float: right;
}