@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Orelega+One&display=swap');

.CKcontainer {
    width:25%;
    height: 50%;
    padding-left: 3em;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 3em;
}

.ck-editor__editable {
    min-height: 300px !important;
}

.post_img {
    display: flex;
    height: 400px;
    width: 600px;
    image-resolution: inherit;
    
}

.add_container {
    border-top: 5px solid black;
}

.card-img-top {
    height: 300px;
    width: 300px;
}

.card-body {
    background-color: #e2d2c5;
}

.blog_page {
    border-top: 5px solid black;
}

.jumbotron-fluid {
    background-color: black;
    
}

.display-4 {
    color: white;
    text-align: center;

}

.blog_details {
    margin-top: 1em;
}

.btn_group {
     display: inline-block;
     border-spacing: 5px;
}

.post {
    margin-left: 40rem;
    margin-right: 40rem;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: column;
    image-resolution:inherit ;
}

.post_date {
    min-width: 175px;
    align-content: center;
}

pre {
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee4e2;
    outline-style:groove;
    outline-color: darkgoldenrod;
 }

hr {
    flex-grow:1;
  }

.title_style {
    width: 100%;
    height: 80px;
    color:black;
    text-align: center;
    min-width: 500px;
    
}

.post_body {
    width: 100%;
    height: 50%;
    min-width: 700px;
    
    
    
    font-size: 20px;
}

.btn.btn-dark {
    margin: 1px;
}