:root {
    --primary: rgb(0, 0, 0);
}

.btn {
    padding: 5px 8px;
    border: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: var(--primary);
}

.btn:hover {
    padding: 5px 15px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border: 2px solid var(--primary);
}