
.HomeBody{
    background: #e2d2c5;
}
.LogoOutline {
    background: #e2d2c5;
    
    width: auto;
    height: auto;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 3px solid black;
    padding: 0px;

    text-align: center;
    font-family: 'Cinzel', serif;

}

.ImageOutline {
    background: #e2d2c5;
    
    width: auto;
    height: 700px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;

    text-align: center;
    font-family: 'Cinzel', serif;

}


.BookingLink {
    background: #eee4e2;
    border-radius: 35px;
    
    width: auto;
    min-width: 300px;
    max-width: 800px;
    min-height: 450px;
    height: auto;
    float:unset;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 3px solid black;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}


.QuoteBox {
    Background: #e2d2c5;
    border-bottom: 2px;
    border-top: 0px;
    Width: auto;
    Height: 400px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.MoreImages {
    Background: #e2d2c5;
    Border-top: 2px solid black;
    Width: auto;
    Height: 600px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.BookTopText{
    margin-top: 10px;

}

.BookBotText{
    margin-top: 10px;
}

.DividerLine{
    background: #6d3d16;
    height: 2px;
    width: 400px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.QuoteFont1{
color:black;
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-size: 300%;


}

.QuoteCurs1{
    color:goldenrod;
    font-family: 'Dancing Script', cursive;

}

.QuoteCurs2{
    color:goldenrod;
    text-align: right;
    margin-right: 20%;
    font-family: 'Dancing Script', cursive;
}

.review {
    height: 500px;
    margin: 20px;
    border-radius: 15px;
}

.bookingBtn {

    margin: 1rem;
    transition: transform 250ms;
    display: inline-block;
    width: 225px;
    height: 75px;
    border: 4px;
    outline: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    background-color: #e0d2c5;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bookingBtn:hover {
    transform: translateY(-2px);
    background-color: #c4ad75;
}