.App {
    font-family: 'Cinzel', serif;
}

.navBar {
    min-height: 100px;
    width: auto;
    z-index: 99999;
}

.mr-auto {
    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;
}

.mainBtn {
    color: black;
    padding: 5px;
    margin: auto;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.mainBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.alphaBtn {
    color: black;
    padding: 5px;
    margin: auto;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.alphaBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.bravoBtn {
    color: black;
    padding: 5px;
    margin: auto;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.bravoBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.charlieBtn {
    color: black;
    padding: auto;
    margin: auto;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.charlieBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.button_container {
   display: flex;
   flex-direction: row;
   
}