.App {
    font-family: 'Cinzel', serif;
}

.navBar {
    min-height: 100px;
    width: auto;
    z-index: 99999;
    
}

.mr-auto {

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;
    

}

.home {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.home:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.services {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.services:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.servicesDrop {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.servicesDrop:hover {
    transform: translateY(-2px);
    
}

.about {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.about:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.contact {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.contactList {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.contactList:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.loginBtn {
    margin: 1rem;
    transition: transform 250ms;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
}

.loginBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}

.homeBtn {
    color: black;
    margin: none;
    transition: transform 250ms;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.homeBtn:hover {
    transform: translateY(-2px);
    background-color: #e1d4c6;
    border-radius: 15px;
}