.Serve {
    background : rgba(246,236,227,255);
    
    width: auto;
    height: 100px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;

}

.TitleStyling
{
    background:#f6ece3;
    width: auto;
    height: 50px;
    Border: 2px solid black;
    border-top: none;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;
}

.OpenSpace{
    background:#f6ece3;
    width: auto;
    height: 200px;
}

.ServiceImages{
    background: #f6ece3;
    width: auto;
    height: 600px;

    /* Text Styling Here */
    text-align: center;
    font-family: 'Cinzel', serif;
}

.PriceTitle{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

  .rightPrice{
    background: #f6ece3;
    width: 30%;
    height:300px;
    margin-left: none;
    margin-right: 20%;
    text-align: right;
    float: right;

  }

  .leftPrice{
    background: #f6ece3;
    width: 30%;
    height:300px;
    margin-left: 20%;
    margin-right: none;
    text-align: left;
    float: left;

  }

  .tableContainer{
      background:#f6ece3;
      height:1400px;
      width: 100%;
  }

  .FAQ{
      background: #f6ece3;
      width: auto;
      height: 600px;
  
      /* Text Styling Here */
      text-align: center;
      font-family: 'Cinzel', serif;
  }