.NavbarItems {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

.navbar-logo {
    color:rgb(12, 8, 8);
    justify-self: start;
    margin-right: 1000px;
    cursor: pointer;

}

.fa-react {
    margin-left: 0.5rem;
    font-size:1.8rem;
}

.nav-menu {
display: grid;
grid-template-columns: repeat(5,auto);
grid-gap: 10px;
list-style: none;
text-align: center;
width: 70vw;
justify-content: end;
margin-right: 2rem;
}

.nav-links {
    color: rgb(2, 1, 1);
    text-decoration: none;
    padding: 0.5rem, 1rem; 
       

}

.nav-links:hover {
    background-color: pink;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;

}

.menu-icon {
    display: none;
}